.rodape{
    background-color: #6c6c6A;
    display:flex;
    margin-top: auto;
    width: 100vw;
    height: 10vh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    bottom: 0;
}

.textoCentro{
    text-align: center;
    span{
        font-size: 12px;
    }
}

@media screen and (max-width: 600px){
    .rodape{
        background-color: #6c6c6A;
        display:flex;
        margin-top: auto;
        width: 100vw;
        height: 13vh;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        bottom: 0;
    }
    
    .textoCentro{
        text-align: center;
        span{
            font-size: 12px;
        }
    }
}