.topo {
    height: 45vh;
    width: 99.3vw;
    background-color: white;
    opacity: 0.95;
    display: flex;
    flex-direction: column;
    top: 0;
    flex-shrink: 1;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
}

@media screen and (max-width: 900px) {
    .topo {
        position: fixed;
        width: 100vw;
        z-index: 1;
        height: 15vh;
        transition: 0.5s height;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 0.95;
        display: block;
        top: 0;
        overflow-y: hidden;
        flex-direction: unset;
        flex-shrink: unset;

    }

    .topo-completo {
        position: fixed;
        z-index: 1;
        width: 100vw;
        height: 45vh;
        transition: 0.5s height;
        background-color: rgba(112, 112, 112, 0.9);
        opacity: 0.95;
        display: block;
        top: 0;
        overflow-y: hidden;
        flex-direction: unset;
        flex-shrink: unset;

    }
}