.banner{
    padding: 0;
    margin: 0;
    background-color: black;
    background: url("/assets/imgs/bannerdositedabanda.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    height: 65%;
    display: flex;
    width: 100%;
    flex-shrink: 1;
    box-sizing: border-box;
    font-family: "Metal Mania";
    align-items:center;

    h1{
        font-size: 4rem;
        display: none;
    }
    h3{
        size: 5rem;
    }
    .data1{
        margin-left: 5vw;
    }
    .data2{
        margin-left: 80vw;
    }
}

@media screen and (max-width: 600px) {
    .banner{
        padding: 0;
        margin: 0;
        background-color: black;
        color:white;
        display: flex;
        height: 15vh;
        grid-template-columns: 1fr;
        box-sizing: border-box;
        font-family: "Metal Mania";
        align-items: unset;
        h1{
            font-size: 2rem;
        }
        h3{
            font-size: 1rem;
        }
        .data1{
            margin-left: 25vw;
            align-self: flex-end;
        }
        .data2{
            margin-left: 25vw;
            align-self: flex-end;
        }
    }
}