.principal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  box-sizing: border-box;
  justify-content: space-evenly;
  position: relative;
  padding-bottom: 4rem;

}

.textosLaterais {
  padding: 0rem 2rem;
  font-family: 'Metal mania';
  font-weight: bold;
  align-self: flex-start;
  margin-top: 3vh;
  height: 400px;
  width: 27vw;
  box-sizing: border-box;
  display: block;
  background-color: rgba($color: #fff, $alpha: 0.5);
  text-align: center;
  text-indent: 5%;
  border-radius: 8px;
  white-space: pre-line;

  h1 {
    font-size: 1.8rem;
    padding: 0;
    margin: 0;
  }

  img {
    height: 200px;
    width: 100%;
    border-radius: 8px;
  }

  p {
    margin: 0;
    font-size: 1rem;
    text-align: justify;
  }
}

@media screen and (max-width: 900px) {
  .principal {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 2rem;
  }

  .textosLaterais {
    padding: 1rem;
    width: 100vw;
    font-family: 'Metal mania';
    font-weight: bold;
    align-self: flex-start;
    margin-top: 4vh;
    height: 600px;
    box-sizing: border-box;
    display: block;
    background-color: rgba($color: #fff, $alpha: 0.5);
    text-align: center;
    text-indent: 5%;

    h1 {
      font-size: 3rem;
      padding: 0;
      margin: 0;
    }

    img {
      height: 300px;
      width: 100%;
      border-radius: 8px;
    }

    p {
      margin: 0;
      font-size: 1.3rem;
      text-align: justify;
    }

  }
}