.MenuPrincipal {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    line-height: 35px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: black;
    width: 55vw;
    text-align: center;
    margin-left: 8vw;
    font-size: 1.8rem;
    align-self: center;
    align-self: center;
    font-family: "Metal Mania";
    span{
        a{
            text-decoration: none;
            color: silver;
            &:hover{
                color: white;
                text-shadow: 0px -5px 10px white;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .MenuPrincipal {
        display: flex;
        justify-content: space-around;
        padding: 5px;
        line-height: 35px;
        padding-left: 0px;
        padding-right: 0px;
        background-color: black;
        width: 85vw;
        text-align: center;
        margin-left: 1.3vw;
        font-size: 2rem;
        align-self: center;
        align-self: center;
        font-family: "Metal Mania";
       
        span{
            a{
                text-decoration: none;
                color: white;
                &:hover{
                    color: white;
                    text-shadow: 0px -5px 10px white;
                }
            }
        }
    }
}