.principal {
  display: flex;
  justify-content: space-between;
  width: 99vw;
  min-height: 100vh;
  height: fit-content;
  box-sizing: border-box;
  background-image: url('/assets/imgs/guitarrista.png');
  background-repeat: no-repeat;
  background-size:cover;
  overflow-x: hidden;
}
.container {
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  
}
.content_wrapper {
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 2vh;
  
}
.rodape {
  position: absolute;
  background-color: #6c6c6A;
  display: flex;
  margin-top: auto;
  width: 99vw;
  height: 10vh;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  bottom: 0;
}

.textoCentro {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  span {
    font-size: 12px;
  }
}


@media screen and (max-width: 900px) {
  .principal {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: unset;
    min-height:max-content;
    height:fit-content;
    width: 100vw;
    box-sizing: border-box;
    background-size:cover;
  }
  .rodape {
    background-color: #6c6c6A;
    display: flex;
    position: relative;
    width: 99vw;
    height: 15vh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    bottom: 0;
    padding: 2px;
    box-sizing: border-box;
    margin-top: unset;
  }
  .textoCentro {
    text-align: center;

    span {
      font-size: 12px;
    }
  }
  .container {
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
  }
  .content_wrapper {
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 0vh;
  }
}